### _Dataset: World University Rankings 2023_

In [288]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler

filepath= './data/World University Rankings 2023.csv'
df = pd.read_csv(filepath)
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

- Verificación de cantidad de columnas con datos faltantes

In [289]:
df.isnull().sum()

University Rank                  0
Name of University             108
Location                       294
No of student                  132
No of student per staff        133
International Student          132
Female:Male Ratio              213
OverAll Score                  542
Teaching Score                 542
Research Score                 542
Citations Score                542
Industry Income Score          542
International Outlook Score    542
dtype: int64

- Verificación de tipo de datos por columnas

In [290]:
df.dtypes

University Rank                 object
Name of University              object
Location                        object
No of student                   object
No of student per staff        float64
International Student           object
Female:Male Ratio               object
OverAll Score                   object
Teaching Score                 float64
Research Score                 float64
Citations Score                float64
Industry Income Score          float64
International Outlook Score    float64
dtype: object

- Contamos la cantidad de valores en nuestro dataset

In [291]:
df.value_counts

<bound method DataFrame.value_counts of      University Rank                     Name of University        Location  \
0                  1                   University of Oxford  United Kingdom
1                  2                     Harvard University   United States
2                  3                University of Cambridge  United Kingdom
3                  3                    Stanford University   United States
4                  5  Massachusetts Institute of Technology   United States
...              ...                                    ...             ...
2336               -     University of the West of Scotland             NaN
2337               -                  University of Windsor             NaN
2338               -            University of Wolverhampton             NaN
2339               -                University of Wuppertal             NaN
2340               -    Xi’an Jiaotong-Liverpool University             NaN

     No of student  No of student per staff International Student  \
0           20,965                     10.6                   42%
1           21,887                      9.6                   25%
2           20,185                     11.3                   39%
3           16,164                      7.1                   24%
4           11,415                      8.2                   33%
...            ...                      ...                   ...
2336           NaN                      NaN                   NaN
2337           NaN                      NaN                   NaN
2338           NaN                      NaN                   NaN
2339           NaN                      NaN                   NaN
2340           NaN                      NaN                   NaN

     Female:Male Ratio OverAll Score  Teaching Score  Research Score  \
0              48 : 52          96.4            92.3            99.7
1              50 : 50          95.2            94.8            99.0
2              47 : 53          94.8            90.9            99.5
3              46 : 54          94.8            94.2            96.7
4              40 : 60          94.2            90.7            93.6
...                ...           ...             ...             ...
2336               NaN     34.0–39.2            24.1            15.5
2337               NaN     34.0–39.2            35.1            29.4
2338               NaN     34.0–39.2            18.2            14.3
2339               NaN     34.0–39.2            26.4            26.7
2340               NaN     34.0–39.2            17.8            14.8

      Citations Score  Industry Income Score  International Outlook Score
0                99.0                   74.9                         96.2
1                99.3                   49.5                         80.5
2                97.0                   54.2                         95.8
3                99.8                   65.0                         79.8
4                99.8                   90.9                         89.3
...               ...                    ...                          ...
2336             61.5                   37.9                         76.8
2337             34.5                   44.2                         88.7
2338             68.8                   37.3                         72.0
2339             52.8                   52.1                         47.6
2340             68.2                   38.2                         72.4

[2341 rows x 13 columns]>

- Para mayor facilidad adecuamos los nombres de las columnas

In [292]:
cols = {
    'Uni_rank': 'University Rank',
    'Uni_name': 'Name of University',
    'loc': 'Location',
    'Nstudents': 'No of student',
    'Nstudents_staff': 'No of student per staff',
    'inter_students_p': 'International Student',
    'male_fem_ratio': 'Female:Male Ratio',
    'overall_score_p': 'OverAll Score',
    'teaching_score': 'Teaching Score',
    'research_score': 'Research Score',
    'citation_score': 'Citations Score',
    'industry_score': 'Industry Income Score',
    'inter_score': 'International Outlook Score'
}

- Tomaremos las ubiucaciones y les asignaremos un número a cada una, esto para poder hacer los respectivos cálculos en función de la media más adelante

In [293]:
loc_map = {}
df[cols['loc']] = df[cols['loc']].map(lambda loc: loc_map.setdefault(loc, len(loc_map) + 1))
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,2,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,1,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,2,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,2,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

- Convertimos a valor númerico entero al No of students per staff y procedemos a hacer una Standardization para poder rellenar los valores faltantes de la columna misma

In [294]:
df[cols['Nstudents_staff']] = pd.to_numeric(df[cols['Nstudents_staff']], errors='coerce')
df[cols['Nstudents_staff']] = df[cols['Nstudents_staff']].fillna(df[cols['Nstudents_staff']].mean())
df[cols['Nstudents_staff']] = (df[cols['Nstudents_staff']] - df[cols['Nstudents_staff']].mean()) / df[cols['Nstudents_staff']].std()
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,"20,965",-0.712963,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,2,"21,887",-0.797835,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,1,"20,185",-0.653552,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,2,"16,164",-1.010016,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,2,"11,415",-0.916656,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

- Convertimos a valor númerico entero al No of students y procedemos a hacer una Standardization para poder rellenar los valores faltantes de la columna misma

In [295]:
# Asegurarse de que la columna es de tipo cadena y luego eliminar caracteres no numéricos
df[cols['Nstudents']] = df[cols['Nstudents']].astype(str).str.replace(',', '').str.replace(' ', '').str.replace('%', '')
# Convertir a float
df[cols['Nstudents']] = pd.to_numeric(df[cols['Nstudents']], errors='coerce')
df[cols['Nstudents']] = df[cols['Nstudents']].fillna(df[cols['Nstudents']].median())
df[cols['Nstudents']] = (df[cols['Nstudents']] - df[cols['Nstudents']].mean()) / df[cols['Nstudents']].std()
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,0.067255,-0.712963,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,2,0.104885,-0.797835,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,1,0.035421,-0.653552,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,2,-0.128691,-1.010016,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,2,-0.322514,-0.916656,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

- Convertimos a valor númerico entero al porcentaje de International Student y procedemos a hacer una Standardization para poder rellenar los valores faltantes de la columna misma

In [296]:

if df[cols['inter_students_p']].dtype != 'object':
    df[cols['inter_students_p']] = df[cols['inter_students_p']].astype(str)
    
df[cols['inter_students_p']] = df[cols['inter_students_p']].str.replace(',', '', regex=True).str.replace(' ', '', regex=True).str.replace('%', '', regex=True)
df[cols['inter_students_p']] = pd.to_numeric(df[cols['inter_students_p']], errors='coerce')
df[cols['inter_students_p']] = df[cols['inter_students_p']].fillna(df[cols['inter_students_p']].median())
df[cols['inter_students_p']] = (df[cols['inter_students_p']] - df[cols['inter_students_p']].mean()) / df[cols['inter_students_p']].std()

df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,0.067255,-0.712963,2.460077,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,2,0.104885,-0.797835,1.160033,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,1,0.035421,-0.653552,2.230657,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,2,-0.128691,-1.010016,1.083560,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,2,-0.322514,-0.916656,1.771819,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

- Convertimos a valor númerico entero y separamos el Female:Male Ratio  y procedemos a hacer una proporción de los mismos

In [297]:
df[cols['male_fem_ratio']] = df[cols['male_fem_ratio']].apply(
    lambda val: np.nan if isinstance(val, (float, int)) else float(val.replace(' ', '').split(':')[0]) / float(val.replace(' ', '').split(':')[1]) if ':' in val and float(val.replace(' ', '').split(':')[1]) != 0 else np.nan
)
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,0.067255,-0.712963,2.460077,0.923077,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,2,0.104885,-0.797835,1.160033,1.000000,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,1,0.035421,-0.653552,2.230657,0.886792,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,2,-0.128691,-1.010016,1.083560,0.851852,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,2,-0.322514,-0.916656,1.771819,0.666667,94.2,90.7,93.6,99.8,90.9,89.3

- Limpiamos las columnas Teaching Score, Research Score, Citations Score, Industry Income Score e International Outlook Score y procedemos a hacer una Standardization para cada una.

In [298]:
for score in ['teaching_score', 'research_score', 'citation_score', 'industry_score', 'inter_score']:
    df[cols[score]] = pd.to_numeric(df[cols[score]], errors='coerce')
    df[cols[score]] = df[cols[score]].fillna(df[cols[score]].median())
    df[cols[score]] = (df[cols[score]] - df[cols[score]].mean()) / df[cols[score]].std()
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,0.067255,-0.712963,2.460077,0.923077,96.4,5.624489,5.235680,2.071837,2.168830,2.534302
1,2,Harvard University,2,0.104885,-0.797835,1.160033,1.000000,95.2,5.836632,5.188739,2.084071,0.290259,1.745260
2,3,University of Cambridge,1,0.035421,-0.653552,2.230657,0.886792,94.8,5.505689,5.222269,1.990275,0.637868,2.514199
3,3,Stanford University,2,-0.128691,-1.010016,1.083560,0.851852,94.8,5.785718,5.034505,2.104461,1.436631,1.710080
4,5,Massachusetts Institute of Technology,2,-0.322514,-0.916656,1.771819,0.666667,94.2,5.488717,4.826623,2.104461,3.352182,2.187526

- La normalización de los datos asegura que las variables tengan la misma escala, esto es lo que plasmo en el Overall Score además de rellenar los datos faltantes.

In [299]:

df[cols['overall_score_p']] = df[cols['overall_score_p']].apply( lambda x: (float(x.split('–')[0]) + float(x.split('–')[1])) / 2 
                                                                                                                 if isinstance(x, str) and '–' in x
                                                                                                                else float(x) if isinstance(x, str) else x)
df[cols['overall_score_p']] = df[cols['overall_score_p']].fillna(df[cols['overall_score_p']].median())
df[cols['overall_score_p']] = (df[cols['overall_score_p']] - df[cols['overall_score_p']].mean()) / df[cols['overall_score_p']].std()
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,1,0.067255,-0.712963,2.460077,0.923077,4.419952,5.624489,5.235680,2.071837,2.168830,2.534302
1,2,Harvard University,2,0.104885,-0.797835,1.160033,1.000000,4.335454,5.836632,5.188739,2.084071,0.290259,1.745260
2,3,University of Cambridge,1,0.035421,-0.653552,2.230657,0.886792,4.307288,5.505689,5.222269,1.990275,0.637868,2.514199
3,3,Stanford University,2,-0.128691,-1.010016,1.083560,0.851852,4.307288,5.785718,5.034505,2.104461,1.436631,1.710080
4,5,Massachusetts Institute of Technology,2,-0.322514,-0.916656,1.771819,0.666667,4.265039,5.488717,4.826623,2.104461,3.352182,2.187526

- El nombre de las universidades es irrelevante para realizar algún tipo de cálculo

In [300]:
df = df.drop(columns=[cols['Uni_name']])
df.head()

,University Rank,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,1,0.067255,-0.712963,2.460077,0.923077,4.419952,5.624489,5.235680,2.071837,2.168830,2.534302
1,2,2,0.104885,-0.797835,1.160033,1.000000,4.335454,5.836632,5.188739,2.084071,0.290259,1.745260
2,3,1,0.035421,-0.653552,2.230657,0.886792,4.307288,5.505689,5.222269,1.990275,0.637868,2.514199
3,3,2,-0.128691,-1.010016,1.083560,0.851852,4.307288,5.785718,5.034505,2.104461,1.436631,1.710080
4,5,2,-0.322514,-0.916656,1.771819,0.666667,4.265039,5.488717,4.826623,2.104461,3.352182,2.187526

- La siguiente gráfica nos da un preprocesamiento interesante, indica la cantidad de Universidades por Ubicación lo que nos da una idea de dónde por lo general se encuentran las mejores universidades del mundo

In [301]:
import plotly.express as px
location_counts = df['Location'].value_counts()
sorted_locations = location_counts.sort_values(ascending=False)
df[cols['Uni_rank']] = pd.to_numeric(df[cols['Uni_rank']], errors='coerce')

fig = px.bar(sorted_locations, x=sorted_locations.index, y=sorted_locations.values)
fig.update_layout(
    title="Número de Universidades por Ubicación",
    xaxis_title="Ubicación",
    yaxis_title="Conteo",
    xaxis_tickangle=-45,
    showlegend=False
)
fig.show()
mean_ranks = df.groupby('Location')['University Rank'].mean()
def onclick(trace, points, state):
    location = points.xs[0]
    mean_rank = mean_ranks.loc[location]
    print(f"El ranking de media de universidades en {location} es {mean_rank:.2f}")
fig.data[0].on_click(onclick)